.btn {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition;

	&__buy {
		background-color: $c_text;
		border-radius: 8px;
		color: $c_main;
		letter-spacing: .03em;
		min-width: 150px;
		padding: .8em 1em;
		text-align: center;

		&:hover {
			background-color: $c_main;
			color: $c_text;
		}
	}

	&__close {
		background-color: $c_text;
		border-radius: 50%;
		border: 2px solid #fff;
		height: 50px;
		position: absolute;
		right: -25px;
		top: -25px;
		width: 50px;
		z-index: 5;

		&:hover {
			&::after,
			&::before {
				height: 1px;
			}
		}

		&::after,
		&::before {
			background-color: $c_main;
			border-radius: 4px;
			content: "";
			height: 4px;
			left: 7px;
			position: absolute;
			top: 21px;
			transition: $transition;
			width: 32px;
		}

		&::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}
	}

	&__more {
		background: none;
		border: 1px solid $c_main;
		border-radius: 8px;
		color: $c_main;
		letter-spacing: .03em;
		padding: .8em 3.8em;

		&:hover {
			background-color: $c_main;
			color: $c_info;
		}
	}
}