.footer {
	background-color: $c_text;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0;
}

.footer_contact {
	align-items: center;
	display: flex;
	font-size: 18px;
	justify-content: center;
	line-height: 1.5;
	padding: 0 0 80px;
	text-align: justify;

	p::first-letter {
		color: $c_main;
		float: left;
		font-size: 3em;
		margin: 8px 0 0;
		padding: 0 4px 0 0;
	}

	&__input {
		border-radius: 8px;
		border: 1px solid $c_border;
		color: $c_text;
		display: block;
		font-size: 20px;
		outline: none;
		padding: .3em .5em;
		position: relative;
		resize: none;
		width: 100%;
		z-index: 1;
	}

	&__item {
		margin: 0 0 30px;
		position: relative;

		&.focused {
			.footer_contact {
				&__input {
					border-color: $c_main;
				}

				&__placeholder {
					background-color: $c_main;
					color: $c_text;
					top: -22px;
				}
			}
		}
	}

	&__placeholder {
		border-radius: 4px 4px 0 0;
		font-size: 12px;
		left: 6px;
		padding: 2px 6px;
		position: absolute;
		text-transform: uppercase;
		top: 6px;
		transition: $transition;
		z-index: 3;
	}

	.wpcf7-form {
		display: flex;
		flex-direction: column;
		max-width: 350px;
	}

	.wpcf7-form-control-wrap {
		display: block;
		width: 100%;
	}
}

.footer_phone {
	margin: 0 0 30px;
}