.footer {
	background-color: $c_text;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 0;
}

.footer_contact {
	align-items: center;
	display: flex;
	justify-content: center;

	&__input {
		border: 1px solid $c_border;
		border-radius: 8px;
		color: $c_text;
		display: block;
		font-size: 20px;
		padding: .3em .5em;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	&__item {
		margin: 0 0 30px;
		position: relative;

		&.focused {
			.footer_contact__placeholder {
				background-color: $c_main;
				color: $c_text;
				top: -20px;
			}
		}
	}

	&__placeholder {
		font-size: 12px;
		left: 6px;
		padding: 2px 6px;
		position: absolute;
		text-transform: uppercase;
		top: 6px;
		transition: $transition;
		z-index: 3;
	}

	.wpcf7-form {
		display: flex;
		flex-direction: column;
		max-width: 350px;
	}

	.wpcf7-form-control-wrap {
		display: block;
		width: 100%;
	}
}

.footer_phone {
	margin: 0 0 30px;
}