.header {
	align-items: center;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.header_left {
	position: relative;
}

.header_menu {
	background-color: #fff;
	display: none;
	flex-direction: column;
	position: absolute;
	text-transform: uppercase;
	top: 100%;

	&__link {
		color: $c_main;
		text-decoration: none;
		width: 100%;
	}
}

.header_menu_active {
	.header_menu {
		display: flex;
	}

	.header_menu_toggle {
		&::after,
		&::before {
			top: 18px;
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}
	}
}

.header_menu_toggle {
	cursor: pointer;
	height: 40px;
	position: relative;
	width: 40px;

	&::after,
	&::before {
		background-color: $c_main;
		border-radius: 5px;
		content: "";
		height: 3px;
		left: 50%;
		margin: 0 0 0 -15px;
		position: absolute;
		transition: $transition;
		width: 30px;
	}

	&::after {
		top: 12px;
	}

	&::before {
		top: 22px;
	}

	&:hover {
		&::after,
		&::before {
			height: 5px;
		}
	}
}

.header_right {
	align-items: center;
	display: flex;
	padding: 0 8px 0 0;
}