.header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1368px;
	padding: 28px 30px;
	position: relative;
	z-index: 3;

	@media #{$mobile} {
		padding: 28px 19px;
	}
}

.header_menu {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	font-size: 11px;
	font-weight: 500;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;

	a {
		color: #fff;
		position: relative;
		text-decoration: none;
		transition: $transition;

		&:hover {
			&::after {
				width: 100%;
			}
		}

		&::after,
		&::before {
			background-color: $c_main;
			content: "";
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&::after {
			height: 1px;
			left: 0;
			margin: 4px 0 0;
			top: 100%;
		}

		@media #{$desktop_hd} {
			&::after,
			&::before {
				height: 2px;
				top: 50%;
				width: 0;
			}

			&::after {
				left: 100%;
				margin: 0 0 0 21px;
			}

			&::before {
				right: 100%;
				margin: 0 21px 0 0;
			}

			&:hover {
				color: $c_main;

				&::after,
				&::before {
					width: 700px;
				}
			}
		}
	}

	li {
		padding: 0 20px;
		position: relative;

		&.current-menu-item {
			a,
			a:visited {
				&::after,
				&::before {
					width: 100%;

					@media #{$desktop_hd} {
						width: 77px;
					}
				}
			}
		}

		@media #{$mobile} {
			margin: 0 0 54px;
		}
	}

	.sub-menu {
		display: none;
	}

	@media #{$desktop_hd} {
		flex-direction: column;
		font-size: 24px;
		padding: 80px 0;
	}

	@media #{$mobile} {
		font-size: 16px;
		justify-content: center;
		padding: 28px 0;
	}
}

.header_menu_active {
	.header_menu_wrap {
		background-color: $c_menu_bg;
		display: flex;
	}
}

.header_menu_tip {
	background-color: #000;
	border: 1px solid $c_main;
	color: #fff;
	left: 50%;
	margin: 15px 0 0;
	padding: .5em 1em;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: 100%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.header_menu_toggle {
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 10px;
	line-height: 14px;
	padding: 0 0 0 34px;
	position: relative;
	text-transform: uppercase;
	transition: $transition;
	vertical-align: middle;

	&:hover {
		color: $c_main;

		&::after,
		&::before,
		span {
			background-color: $c_main;
			width: 22px;
		}
	}

	&::after,
	&::before {
		background-color: #fff;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		transition: $transition;
		width: 22px;
	}

	&::after {
		top: 0;
	}

	&::before {
		top: 12px;
		width: 19px;
	}

	span {
		background-color: #fff;
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		top: 6px;
		transition: $transition;
		width: 15px;
	}

	@media #{$desktop_hd} {
		display: block;
	}
}

.header_menu_wrap {
	align-items: center;
	display: block;
	flex-direction: column;
	height: auto;
	left: auto;
	padding: 0;
	position: relative;
	top: auto;
	width: auto;
	z-index: 9;

	.btn_close {
		display: none;

		@media #{$desktop_hd} {
			display: inline-block;
		}
	}

	@media #{$desktop_hd} {
		align-items: center;
		display: none;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 0;
		padding: 50px 0 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
	}

	@media #{$mobile} {
		padding: 14px 0;

		.btn_close {
			display: inline-block;
		}
	}
}

.header_left {
	align-items: center;
	display: flex;

	@media #{$mobile} {
		justify-content: space-between;
		width: 100%;
	}
}

.header_right {
	align-items: center;
	display: flex;

	@media #{$mobile} {
		display: none;
	}
}

.header_wrap {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}