.home {
	.hero_block {
		background: $c_img_bg;
		height: 100%;
		padding: 0;
		width: 100%;
	}

	.hero_block_wrap {
		display: flex;
		height: 100vh;
		min-height: 650px;

		@media #{$mobile} {
			//height: auto;
			min-height: 450px;
		}
	}

	.site-main {
		display: none;
	}
}