.portfolio {
	.wp-block-group__inner-container {
		padding: 0 10px;
	}
}

.portfolio_slider {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 0 30px;

	&__item {
		border-radius: 8px;
		height: 100%;
		left: 0;
		object-fit: contain;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.owl-item {
		position: relative;

		&::after {
			content: "";
			display: block;
			padding: 70% 0 0;
			position: relative;
			width: 100%;
		}
	}

	.owl-stage-outer {
		border-radius: 8px;
	}

	&.wp-block-gallery {
		&.has-nested-images {
			figure.wp-block-image {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100% !important;
			}
		}
	}
}