.social_list {
	display: flex;
	padding: 0;
	position: relative;
	z-index: 3;

	&__icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: 27px;
		position: relative;
		width: 27px;

		&:hover {
			&::after {
				height: 150%;
				opacity: 1;
				width: 150%;
			}
		}

		&::after {
			background-color: $c_secondary;
			border-radius: 50%;
			content: "";
			height: 0;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			transition: $transition;
			width: 0;
			z-index: -1;
		}

		&--facebook {
			background-image: url(#{$icons}/facebook.svg);
		}

		&--instagram {
			background-image: url(#{$icons}/instagram.svg);
		}

		&--telegram {
			background-image: url(#{$icons}/telegram.svg);
		}

		&--whatsapp {
			background-image: url(#{$icons}/whatsapp.svg);
		}
	}

	&__item {
		margin: 0 10px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	@media #{$mobile} {
		padding: 0;
	}
}